.navtab {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  li {
    margin: 0 10px;
  }

  li a {
    display: block;
    padding: 10px 20px;
    color: $white-2-text;
    background-color: $bg-dark-2;
    text-decoration: none;
    border-radius: 5px;
    pointer-events: auto;
    cursor: not-allowed;
  }

  li.active a {
    pointer-events: auto;
    background-color: $bg-organge-1;
    color: $white-text;
    cursor: pointer;
  }
  li.active a:hover {
    background-color: $bg-organge-1;
    color: $white-text;
  }
  li a:hover {
    background-color: $bg-grey-1;
    color: $white-text;
  }
}
