
.nav__link {
  font-family: "Roboto Flex", sans-serif;
  color: $yellow-2-text;
  font-style: bold;
  font-size: 1.5rem;
  &:hover {
    color: $white-text;
  }
}

.nav-brand--font {
  font-family: "Roboto Flex", sans-serif;
  color: $white-text;
  font-style: bold;
  font-size: 2rem;
}
